<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-uWFS2SyMlXU1P9Uv9Z4q1XLh3QjsoZ4SB8QoX0OQH5m6goZQyA5DFmuH2gOdf5U3GVabkUqZbJKnSSCBaEVz2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />



    <title>Forum</title>
</head>

<body>
    <nav class="menu">
        <a href="/" class="link">
            <h1 class="logo">Forum</h1>
        </a>
        <ul class="list">
            <li><a href="/login" class="link btn">Logout</a></li>
        </ul>
    </nav>
    <main class="main-section">
        <!-- Create Post Section -->
        <section class="create-post">
            <form action="/createpost" method="post" enctype="multipart/form-data">
                <h1 class="title-create-post">Create New Post</h1>
                <input type="text" name="title" placeholder="Title" class="inputs title" required>
                <input type="text" name="description" placeholder="Description" class="inputs description" required>
                <div class="checkboxs">
                    <input type="checkbox" name="categories" id="create-technology" class="category">
                    <label for="create-technology" class="labels">Technology</label>

                    <input type="checkbox" name="categories" id="create-education" class="category">
                    <label for="create-education" class="labels">Education</label>

                    <input type="checkbox" name="categories" id="create-sports" class="category">
                    <label for="create-sports" class="labels">Sports</label>

                    <input type="checkbox" name="categories" id="create-movies" class="category">
                    <label for="create-movies" class="labels">Movies</label>

                    <input type="checkbox" name="categories" id="create-gaming" class="category">
                    <label for="create-gaming" class="labels">Gaming</label>

                    <input type="checkbox" name="categories" id="create-music" class="category">
                    <label for="create-music" class="labels">Music</label>

                    <input type="checkbox" name="categories" id="create-health" class="category">
                    <label for="create-health" class="labels">Health</label>

                    <input type="checkbox" name="categories" id="create-food" class="category">
                    <label for="create-food" class="labels">Food</label>
                </div>

                <div class="upload-img">
                    <input type="file" name="choose-file" id="choose-file" class="choose-file">
                </div>
                <button type="submit" class="btn btn-create-post">Create Post</button>
            </form>
        </section>
        <!-- Filter Section -->
        <section class="filter">
            <form action="">
                <div class="checkboxs-filter">
                    <input type="checkbox" name="technology" id="filter-technology" class="category">
                    <label for="filter-technology" class="labels">Technology</label>

                    <input type="checkbox" name="education" id="filter-education" class="category">
                    <label for="filter-education" class="labels">Education</label>

                    <input type="checkbox" name="sports" id="filter-sports" class="category">
                    <label for="filter-sports" class="labels">Sports</label>

                    <input type="checkbox" name="movies" id="filter-movies" class="category">
                    <label for="filter-movies" class="labels">Movies</label>

                    <input type="checkbox" name="gaming" id="filter-gaming" class="category">
                    <label for="filter-gaming" class="labels">Gaming</label>

                    <input type="checkbox" name="music" id="filter-music" class="category">
                    <label for="filter-music" class="labels">Music</label>

                    <input type="checkbox" name="health" id="filter-health" class="category">
                    <label for="filter-health" class="labels">Health</label>

                    <input type="checkbox" name="food" id="filter-food" class="category">
                    <label for="filter-food" class="labels">Food</label>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-filter">Filter</button>
                    <button type="submit" class="btn btn-my-posts">My Posts</button>
                    <button type="submit" class="btn btn-liked-posts">Liked Posts</button>
                </div>
            </form>
        </section>
        <!-- Posts Section -->
        <section class="posts">
            <!-- Poste - 02 -->
            <div class="post">
                <div class="top-section">
                    <div class="full-profile">
                        <img src="/static/images/user.png" alt="User Profile" class="profile-image">
                        <h2 class="post-username">Username</h2>
                    </div>
                    <span class="post-time">Just now</span>
                </div>
                <div class="body-section">
                    <h1 class="post-title">Title Title Title Title Title Title Title Title Title Title Title Title Title
                        Title Title Title Title Title Title Title Title</h1>
                    <div class="body-image">
                        <img src="/static//images/image-01.jpg" alt="post image" class="post-img">
                    </div>
                    <p class="post-description">Description Description Description Description Description Description
                        Description Description Description Description Description Description gfg dff rrd zd
                        Description
                        Description Description</p>
                </div>
                <div class="category-section">
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                </div>
                <div class="reactions-section">
                    <form action="">
                        <div class="likes-section">
                            <button type="submit" class="btn-reaction">
                                <i class="fa-solid fa-thumbs-up icon-reaction"></i>
                            </button>
                            <span class="total-reactions">0</span>
                        </div>
                        <div class="deslikes-section">
                            <button type="submit" class="btn-reaction">
                                <i class="fa-solid fa-thumbs-down icon-reaction"></i>
                            </button>
                            <span class="total-reactions">1</span>
                        </div>
                        <div class="comment-section">
                            <input type="checkbox" id="toggle-comments" hidden>
                            <label for="toggle-comments" class="btn-reaction comment">
                                <i class="fa-solid fa-comment icon-reaction"></i>
                            </label>
                            <span class="total-reactions">24</span>
                        </div>
                        <div class="comments-box">
                            <div class="comments-form">
                                <form action="">
                                    <img src="/static/images/user.png" alt="User Profile" class="profile-comment">
                                    <input type="text" placeholder="Title" class="input-comment" required>
                                    <input type="submit" value="Add" class="btn btn-comment">
                                </form>
                            </div>
                            <div class="comments">
                                <img src="/static/images/user.png" alt="User Profile" class="profile-comment">
                                <p class="comment-content">Test Contet Comments ...</p>
                                <span class="post-time">Just now</span>
                            </div>
                            <!-- comment - 02 -->
                            <div class="comments">
                                <img src="/static/images/user.png" alt="User Profile" class="profile-comment">
                                <p class="comment-content">Test Contet Comments ... Test Contet Comments ... Test Contet
                                    Comments ... Test Contet Comments ... Test Contet Comments ... Test Contet Comments
                                    ... Test Contet Comments ...</p>
                                <span class="post-time">Just now</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Poste - 02 -->
            <div class="post">
                <div class="top-section">
                    <div class="full-profile">
                        <img src="/static/images/user.png" alt="User Profile" class="profile-image">
                        <h2 class="post-username">Username</h2>
                    </div>
                    <span class="post-time">Just now</span>
                </div>
                <div class="body-section">
                    <h1 class="post-title">Title Title Title Title Title Title Title Title Title Title Title Title Title
                        Title Title Title Title Title Title Title Title</h1>
                    <!-- <div class="body-image">
                        <img src="/static//images/image-01.jpg" alt="post image" class="post-img">
                    </div> -->
                    <p class="post-description">Description Description Description Description Description Description
                        Description Description Description Description Description Description gfg dff rrd zd
                        Description
                        Description Description</p>
                </div>
                <div class="category-section">
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                    <span class="post-category">Music</span>
                    <span class="post-category">Sports</span>
                    <span class="post-category">Movis</span>
                </div>
                <div class="reactions-section">
                    <form action="">
                        <div class="likes-section">
                            <button type="submit" class="btn-reaction">
                                <i class="fa-solid fa-thumbs-up icon-reaction"></i>
                            </button>
                            <span class="total-reactions">0</span>
                        </div>
                        <div class="deslikes-section">
                            <button type="submit" class="btn-reaction">
                                <i class="fa-solid fa-thumbs-down icon-reaction"></i>
                            </button>
                            <span class="total-reactions">1</span>
                        </div>
                        <div class="comment-section">
                            <input type="checkbox" id="toggle-comments-2" hidden>
                            <label for="toggle-comments-2" class="btn-reaction comment">
                                <i class="fa-solid fa-comment icon-reaction"></i>
                            </label>
                            <span class="total-reactions">24</span>
                        </div>
                        <div class="comments-box">
                            <div class="comments-form">
                                <form action="">
                                    <img src="/static/images/user.png" alt="User Profile" class="profile-comment">
                                    <input type="text" placeholder="Title" class="input-comment" required>
                                    <input type="submit" value="Add" class="btn btn-comment">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </main>
</body>

</html>