<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Forum</title>
</head>

<body>
    <nav class="menu">
        <a href="/" class="link">
            <h1 class="logo">Forum</h1>
        </a>
        <ul class="list">
{{if .LoggedIn}}
<form action="/logout" method="POST" style="display:inline;">
    <button type="submit" class="link btn">Logout</button>
</form>
{{else}}
    <li><a href="/register" class="link">Register</a></li>
    <li><a href="/login" class="link btn">Login</a></li>
{{end}}

</ul>

    </nav>
    <main>

    </main>
</body>

</html>