<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <nav class="navbar">
        <a href="/"><img src="/static/images/home.png" alt="Home" class="icon"></a>
    </nav>
    <main>
        <section class="container">
            <div class="welcome-text">
                <p>Please enter your details</p>
                <h1>Welcome back</h1>
            </div>
            <div class="login">
                <form action="/loginAuth" method="POST">
                    {{if .Error}}
                     <p style="color:red; margin-bottom:10px;font-size: large;">{{.Error}}</p>
                      {{end}}
                    <label class="labels" type="username">Usename Or Email:</label>
                    <input class="inputs input-text" type="text" name="username" value="{{ .Username }}" required>
                    <label class="labels" type="password">Password:</label>
                    <input class="inputs input-password" type="password" name="password"  required>
                    <button class="btn" type="submit">Login</button>
                    <span>Don't have an Account? <a href="/register">Sign-Up Here!</a></span>
                </form>
            </div>
        </section>
    </main>
</body>

</html>