<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/login.css">
    <title>Login</title>
</head>

<body>
    <nav>

    </nav>
    <main>
        <section class="container">
            <div>
                <form action="">
                    <input type="text">
                    <input type="password">
                    <button type="submit">Login</button>
                    <span>Don't have an Account? <a href="#">Sign-Up Here!</a></span>
                </form>
            </div>
        </section>
    </main>
</body>

</html>